

:root{
  --cinza-claro: #F9F7F7;
  --roxo-escuro:#1f0322;
  --roxo-claro:#5B7A97;
}

*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;

}


body, input{
  font-family: "Poppins", sans-serif; 
  

}
