.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 92vh;
}

.textos {
    justify-content: center; 
    align-items: center; 
}

.textoInicial {
    color: rgb(61, 59, 59);
    font-size: 40px;
    font-weight: 600;
}
