.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--roxo-claro);
    margin-top: 20px;
}

.sensoresContainer {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 400px); 
    gap: 50px;
    justify-content: center; 
    
}

.sensorContainer {
    background-color: rgb(236, 234, 234);
    width: 350px; 
    height: 250px;
    border: 2px solid;
    font-size: 18px;
    padding: 10px;
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }