.conteiner {
    display: flex;
    height: 450px;
    justify-content: center;
    align-items: center;
    
}

h1 {
    color: var(--roxo-claro);
    align-self: center;
}

/* table {
    background-color: var(--cinza-claro);
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid var(--roxo-claro);
    border-collapse: collapse; 
    width: 95%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left:50px ;

}

th, td {
    border: 1px solid var(--roxo-claro); 
    padding: 8px; 
    text-align: left; 
}

tr {
    border: 2px solid var(--roxo-claro); 
}

th {
    background-color: var(--roxo-esc--cinza-claro); 
    color:var(--roxo); 
}

tbody tr:nth-child(even) {
    background-color: var(--cinza-claro); 
} */

.sensorContainer{
    background-color: red;
    width: 500px;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }